.document {
	h1 {
		font-family:"Arial Black", Gadget, sans-serif;
		color:#330033;
		font-size:20px;
		font-weight:bolder;
		line-height:25px;
		margin:10px;
		padding:0;
	}
	h3 {
		font-family:"Arial Black", Gadget, sans-serif;
		 border-bottom: 1px dashed #CBD1D1;
		border-top: 1px dashed #CBD1D1;
		font-size: 14px;
		line-height: 18px;
		padding: 3px 0;
		    color: #262626;
	}
	p {
		text-align:justify;
		text-indent:1em;
		padding:3px;
	}
	.well {
		padding:6px;
		font-size:12px;
		background-color:#F5FAF5;
		position:relative;
		&:before {
			background-color: #FFFFFF;
			content: "";
			height: 100%;
			left: -6px;
			position: absolute;
			top: 0;
			width: 5px;
		}
		
		.dl-horizontal {
			margin-bottom:0;
			
			dt {
				text-align:left;
				font-weight:normal;
				width:38%;
				color:#6c003b;
			}
			dd {
				margin-left: 40%;
			}
		}
		.dl-horizontal:last-child {
			margin-bottom:20px;
		}
	}
	
	.ui-block {
		display:block;
		border:1px solid #3498db;
		margin:5px;
		
		.filterBar-icon {
			background-color:transparent;
			text-indent:0;
			background-color:#3498db;
			&:hover {
				background-color:#2980b9;
				color:white;
				text-decoration:none;
			}
		}
		
		> h2 {
			display:block;
			height:30px;
			width:100%;
			
			padding:0;
			margin:0;
			margin-bottom:15px;
			
			line-height:30px;
			font-size: 18px;
			background-color:#3498db;
			text-overflow:none;
			color:#ECF0F1;
			text-indent:10px;
			font-weight:normal;
			
			&.nomargin {
				margin:0;
			}
		}
		
		> div {
			display:block;
			margin:5px;
			text-align:justify;
		}
		
		.tags {
			list-style-type:none;
			margin:0;
			padding:0;
			> li {
				display:inline-block;
				height:24px;
				padding:0 3px;
				line-height:24px;
				margin:5px;
				
				background-color:#3498db;
				text-overflow:none;
				color:#ECF0F1;
				overflow:hidden;
			}
		}
		
		.list-item {
			margin-top:-15px;
			list-style-type:none;
			margin:0;
			padding:0;
			> li {
				padding:0;
				margin:0;
				height:30px;
				line-height:30px;
				display:block;
				font-size:11px;
				padding-left:5px;
				
				position:relative;
				overflow:hidden;
				
				.filterBar-icon {
					position:absolute;
					right:0;
					top:0;
					display:none;
				}
				
				&:hover {
					background-color: #EAE7ED;
					border-left:3px solid #3498db;
					padding-left:2px;
					overflow:hidden;
					
					.filterBar-icon {
						display:block;
					}
				}
				
			}
		}
		
		.form {
			padding:0;
			margin:0;
			input {
				height:30px;
				
				padding:0;
				margin:0;
				vertical-align:top;
				
				border:0;
				.box-shadow(none);
				
				background-color:#2980b9;
				.border-radius(0);
				width:198px;
				
				color:white;
				&:focus {
					.box-shadow(none);
				}
			}
			
			.dropdown-menu > li > a {
				background-color: #2980b9;
				&:hover {
					background-color:#3498db;
					.legend {
						border-color: #3498db;
					}
				}
				
			}
		}
		
		&.closed {
			> div {
				display:none;
			}
			> h2 {
				margin:0;
			}
		}
		&.hidden {
			display:none;
		}
	}
	
}