.dropup-container {
	position:relative;
	> .dropup-toggle {
	}
	> .dropup {
		display:none;
	}
	&.open > .dropup {
		display:block;
		position: fixed;
		//top: -1 * ( @dropupHeight + @dropupMargin + @dropupBorder + @dropupPadding * 2 + 5);
		bottom: @navbarHeight + 3;
		height:@dropupHeight;
		width: ( 4 * @gridColumnWidth) + (5 * @gridGutterWidth );
		border:@dropupBorder solid @dropdownBorder;
		margin:@dropupMargin 0;
		background-color:@dropupBackgroundColor;
		.border-radius(6px);
		.box-shadow(#888 0px -1px 10px 0px);
		.transition(1s height);
		&.left {
			left:2px;
		}
		&.right {
			right:2px;
		}
		&.dropup-padded {
			padding:5px;
		}
		> .dropup-divided {
			height:100%;
			width:100%;
			position:relative;
		}
		.overflow-y {
			overflow-y:auto;
			max-height:440px;
		}
		.dropup-search {
			width:100%;
			margin:0;
			height:30px;
			//border-top:@dropupBorder solid @dropdownBorder;
			line-height:30px;
			padding:0;
			background-color:#305f30;
			.padding-5 {
				padding:@dropupPadding;
				h5 {
					margin:0 5px 2px 0;
				}
			}
			
			input {
				border: 0 none;
				font-weight: bolder;
				.box-shadow(none);
				.border-radius(0);
				height:30px;
				line-height:30px;
				width:( 4 * @gridColumnWidth) + (5 * @gridGutterWidth ) - 35px;
				&[type="text"] {
					//background-color: rgba(0, 0, 0, 0.15);
					background-color:transparent;
					color:white;
				}
				padding:0;
				margin:0;
			}
			input:focus , input:hover {
					.box-shadow(none);				
			}
			button.btn-success {
				display:block;
				float:right;
				.box-sizing(content-box);
				height:30px!important;
				width:30px;
				line-height:30px;
				border:0;
				padding:0;
				margin:0;
				background-color:#51A351;
				color:white;
				.border-radius(0);
				&:hover:after {
					font-family: "FontAwesome";
					content:"";
					z-index:auto;
					line-height:100%;
					font-size:18px;
					line-height:30px;
				}
				
			}
		}
	}
	&.open:before {
		content:"";
		display:block; /* reduce the damage in FF3.0 */
		position:absolute;
		top:-5px;
		left:5px;
		width:0;
		border-width:5px 7px 0;
		border-style:solid;
		border-color:@dropdownBorder transparent;
		background-color:transparent;
	}
	&.open:after {
		content:"";
		display:block; /* reduce the damage in FF3.0 */
		position:absolute;
		top:-5px;
		left:6px;
		width:0;
		border-width:4px 6px 0;
		border-style:solid;
		border-color:@dropupBackgroundColor transparent;
		background-color:transparent;
	}
}