.filterBar {
	white-space:nowrap; word-spacing:0;
	height:30px;
	display:block;
	width:100%;
	text-align:right;
	.filterBar-input {
		.border-radius(0);
		height:30px;
		width:0px;
		
		line-height:30px;
		padding:0;
		margin:0;
		
		display:inline-block;
		vertical-align:top;
		
		color:white;
		background-color:#4a2860;
		
		border:none;
		
		.transition(width 2s);
		
		&.open {
			min-width:200px;
			.transition(width 2s);
		}
	}
	.filterBar-icon {
		height:30px;
		width:30px;
		display:inline-block;
		
		line-height:30px;
		text-align:center;
		& a {
			height:30px;
			width:30px;
			display:inline-block;
			
			line-height:30px;
			text-align:center;
		}
		color:white;
		background-color:#36114f;
		position:relative;
		&.desactivated {
			opacity:0.9;
		}
		// &.desactivated:before {
			// position: absolute;
			// top:0;
			// color: white;
			// content: "";
			// display: block;
			// font-family: FontAwesome;
			// font-size: 10px;
			// height: 30px;
			// left: 0;
			// line-height: 50px;
			// text-align: center;
			// vertical-align: bottom;
			// width: 30px;
		// }
		> a, a:hover, a:focus, a:visited, a:link {
			color:inherit;
			text-decoration:none;
		}
		&.dropdown {
			> .dropdown-menu {
				width:30px;
				margin:0;
				padding:0;
				min-width:30px;
				.box-shadow(none);
				border:none;
				
				> li > a {
				
					width:30px;
					height:30px;
					padding:0;
					line-height:30px;
					text-align:center;
					background-color:#36114f;
					color:white;
					display:block;
					position:relative;
					
					& > .legend {
						position:absolute;
						left:100%;
						top:0px;
						height:28px;
						width:0px;
						display:none;
					}
					
					&:hover {
						background-color:#4a2860;
						background-image:none;
						
						& > .legend {
							display:block;
							min-width:100px;
							padding:0 5px;
							color:#36114f;
							border:1px solid #36114f;
							border-left:0;
							background-color:white;
						}
					}
					
					
				}
			}
			&:hover {
				.dropdown-menu {
					display:block;
				}
			}
		}
	}
}